{{! backend/templates/bookingCancellation.hbs }}
<p>Hi {{clientName}},</p>
<p>Your booking for <strong>{{eventTitle}}</strong> on {{dateTime}} has been cancelled.</p>
<p>If this was a mistake, please re-book.</p>
<p>Regards,<br>Calendly-Clone</p>